@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
*,
*::after,
*::before {
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  list-style-type: none !important;
}

button {
  background-color: transparent;
  border: none;
}

header {
  padding: 32px 16px;
  position: absolute;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  gap: 2rem;
  padding: 40px 0;
  left: 0px;
  right: 0px;
  top: 100px;
  list-style-type: none;
  margin: 0 16px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s;
  pointer-events: none;
}
header ul::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -24px;
  right: 0;
  border-left: 24px solid transparent;
  border-bottom: 24px solid white;
}
header ul a {
  font-family: "barlow";
  cursor: pointer !important;
  font-size: 20px;
  color: #808397 !important;
}
header ul a.button {
  position: relative;
  border-radius: 28px;
  background-color: #FBD600;
  color: black !important;
  padding: 1rem 2rem;
  font-family: "Fraunces", arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}
header li:last-of-type {
  margin: 16px 0 !important;
}
header ul[data-visible] {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 46px 40px;
  }
  header img {
    height: 33px;
    width: 170px;
  }
  header ul {
    position: static;
    opacity: 1;
    gap: 47px;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    text-align: center;
    margin: 0;
    transform: unset;
    pointer-events: all;
  }
  header ul a {
    font-size: 18px;
    color: white !important;
  }
  header ul a.button {
    transition: background-color 0.2s, color 0.2s;
    background-color: white !important;
  }
  header ul a.button:hover {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.25) !important;
  }
  header ul li:last-of-type {
    margin: 0 !important;
  }
  header ul::before {
    content: unset;
  }
  header button {
    display: none;
  }
}
#hero {
  height: 538px;
  width: 100%;
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 88px;
  text-align: center;
  color: white;
  font-family: "fraunces", arial;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 6.25px;
  text-transform: uppercase;
}
#hero .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
}
#hero .content a {
  cursor: pointer;
  animation: up-down 0.7s infinite ease-in-out alternate;
}

@media only screen and (min-width: 768px) {
  #hero {
    height: 800px;
    background-image: url("../images/desktop/image-header.jpg");
    background-position-x: center;
    padding-top: 250px;
    font-size: 55px;
  }
  #hero .content {
    justify-content: start;
  }
}
@keyframes up-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
#features {
  display: grid;
  text-align: center;
  letter-spacing: -0.13px;
  background-color: #FFFCF8;
}
#features .group {
  display: flex;
  flex-direction: column-reverse;
}
#features .group.stand {
  flex-direction: column;
}
#features .no-reverse {
  flex-direction: column;
}
#features .content {
  padding: 64px 0;
  display: flex;
  justify-content: center;
}
#features .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 312px;
  aspect-ratio: 1/1;
  width: 100%;
  max-height: 600px;
}
#features .image.transform {
  background-image: url("../images/mobile/image-transform.jpg");
}
#features .image.stand {
  background-image: url("../images/mobile/image-stand-out.jpg");
}
#features h3 {
  font-family: "fraunces", arial;
  font-size: 32px;
  font-weight: 900;
  color: #24303E;
}
#features p {
  font-size: 18px;
  font-family: "barlow", arial;
  color: #808397;
  line-height: 30px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 32px;
}
#features a {
  font-family: "fraunces", arial;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
}
#features a:hover::after {
  opacity: 1;
}
#features a::after {
  content: "";
  z-index: -1;
  position: absolute;
  transition: opacity 0.3s;
  bottom: -2px;
  left: -7px;
  right: -7px;
  opacity: 0.25;
  height: 10px;
  border-radius: 28px;
  background-color: #FE7766;
}
#features a.yellow::after {
  background-color: #FAD400;
}
#features .container {
  max-width: 327px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#features .content-image {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 600px;
  padding-bottom: 55px;
}
#features .content-image h3 {
  text-transform: capitalize;
}
#features .content-image p {
  line-height: 27px;
}
#features .content-image.graphic {
  background-image: url("../images/mobile/image-graphic-design.jpg");
}
#features .content-image.graphic h3,
#features .content-image.graphic p {
  color: #24554A;
}
#features .content-image.photo {
  background-image: url("../images/mobile/image-photography.jpg");
}
#features .content-image.photo h3,
#features .content-image.photo p {
  color: #19536C;
}
#features .content-image .container {
  height: fit-content;
}
#features img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #features {
    display: grid;
    text-align: left;
    letter-spacing: -0.13px;
  }
  #features h3 {
    width: 100%;
  }
  #features > div {
    max-height: 600px;
    overflow: hidden;
  }
  #features .group {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #features .no-reverse {
    flex-direction: column;
  }
  #features .content {
    padding: 64px 0;
  }
  #features .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    min-height: 400px !important;
    width: 100%;
  }
  #features .image.transform {
    background-image: url("../images/desktop/image-transform.jpg");
  }
  #features .image.stand {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
  #features h3 {
    font-family: "fraunces", arial;
    font-size: 40px;
    font-weight: 900;
  }
  #features p {
    font-size: 18px;
    font-family: "barlow", arial;
    color: #808397;
    line-height: 30px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  #features a {
    margin-right: auto;
  }
  #features .container {
    max-width: 445px;
    margin: 0 16px;
  }
  #features .content-image {
    text-align: center !important;
  }
  #features .content-image.graphic {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  #features .content-image.photo {
    background-image: url("../images/desktop/image-photography.jpg");
  }
  #features .content-image p {
    width: 339px;
  }
}
#testimonies {
  padding: 64px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#testimonies .container {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
#testimonies .container h2 {
  font-family: "fraunces", arial;
  font-weight: 900;
  letter-spacing: 5px;
  color: #A7AAAD;
  text-transform: uppercase;
  margin-bottom: 64px;
}
#testimonies .list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
#testimonies article {
  width: 327px;
}
#testimonies article .img-container {
  width: 72px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  overflow: hidden;
  margin: 0 auto;
}
#testimonies article .img-container img {
  width: 100%;
}
#testimonies article p {
  margin: 2rem 0;
  font-family: "Barlow", arial;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #5B636D;
}
#testimonies article .author .name {
  font-family: "fraunces", arial;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  color: #24303E;
}
#testimonies article .author .title {
  font-family: "barlow", arial;
  font-size: 14px;
  font-weight: 500;
  color: #A7AAAD;
}

@media only screen and (min-width: 1024px) {
  #testimonies {
    padding: 0;
    height: 777px;
  }
  #testimonies .container {
    height: fit-content;
  }
  #testimonies .container h2 {
    font-size: 20px;
    margin-bottom: 81px;
  }
  #testimonies .container .list {
    flex-direction: row;
    gap: 14px;
  }
  #testimonies .container .list article {
    width: 350px;
  }
  #testimonies .container .list article p {
    margin-top: 58px;
    margin-bottom: 69px;
  }
}
@media only screen and (min-width: 1160px) {
  #testimonies .container .list {
    gap: 30px;
  }
}
footer {
  background-color: #90D4C6;
}
footer .decoration {
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .decoration picture {
  height: 188px;
}
footer .decoration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .footer {
  padding-top: 64px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer .footer ul {
  list-style-type: none;
}
footer .footer ul li a {
  color: #458D7E !important;
}
footer .footer ul li a:hover {
  color: white !important;
}
footer .footer .navigation {
  margin-top: 40px;
  margin-bottom: 88px;
  display: flex;
  font-family: "barlow", arial;
  font-weight: 500;
  font-size: 18px;
}
footer .footer .navigation li:nth-of-type(2) {
  margin: 0 57px;
}
footer .footer .contacts {
  display: flex;
  gap: 28px;
}
footer .footer .contacts img {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  footer .decoration {
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: 25% 25% 25% 25%;
  }
  footer .decoration picture {
    height: unset;
  }
  footer .footer {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

/*# sourceMappingURL=style.css.map */
