*,
*::after,
*::before {
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    list-style-type: none !important;
}

button {
    background-color: transparent;
    border: none;
}